services:
  - name: expense-tracker-backend
    type: web
    env: node
    plan: free
    repo: "https://github.com/Sukanya1212/expense-tracker"
    branch: main
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        value: ""
      - key: JWT_SECRET
        value: ""
    autoDeploy: true
